-# Header
.header-row
  .avatar-and-email
    .avatar 
      - if @user.avatar_file_name
        = image_tag @user.avatar.url(:thumb)
      - else
        = image_tag "No-avatar.jpeg"
    .user-email
      = @user.email
  .add-photo-and-logout-buttons
    .add-photo-button
      = link_to 'Add Photo', new_user_photo_path(@user),
        class: ['btn', 'btn-success', 'add_photo_btn']
    .logout-button
      = link_to 'Logout', log_out_path,
        class: ['btn', 'btn-danger', 'logout_btn']

-# Followees
.home-followees-users-area
  -# Followees
  .home-followees-area
    .home-followees-title 
      = "Following"
    .horizontal-line
    .home-followees-container
      - if @user.followees.length == 0
        Following no-one yet
      - @user.followees.each do |followee|
        .home-followee
          .home-followee-avatar-and-email
            .home-followee-avatar
              - if followee.avatar_file_name
                = image_tag followee.avatar.url(:thumb)
              - else
                = image_tag "No-avatar.jpeg"
            .home-followee-email
              = followee.email
          .home-followee-unfollow-button
            = link_to 'Unfollow', user_unfollow_path(@user, followee),
              method: :delete, class: ['btn', 'btn-primary'],
              disabled: false
  -# Available users
  .home-available-users-area
    .home.available-users-title
      = "Available users"
    .horizontal-line
    .home-available-users-container
      - if @users_not_followed.length == 0
        No-one left to follow
      - @users_not_followed.each do |user|
        .home-available-user
          .home-available-user-avatar-and-email
            .home-available-user-avatar
              - if user.avatar_file_name
                = image_tag user.avatar.url(:thumb)
              - else
                = image_tag "No-avatar.jpeg"
            .home-available-user-email
              = user.email
          .home-available-user-follow-button
            = link_to 'Follow', user_follow_path(@user, user), method: :post,
              class: ['btn', 'btn-primary']

-# My Photos
.home-photos-area
  .home-photos-area-title
    = "My Photos"
  .horizontal-line
  .home-my-photos
    .home-slideshow-area
      - if @user.photos.length == 0
        .home-no-photos
          Please add some photos
      - else
        .home-photo{ :id => "current-user",
          data: { images: @user.photos.order(created_at: :desc).map { |photo| {id: photo.id, src: photo.image.url(:medium), title: photo.title } }.to_json } }
          %img
        .home-photo-title
        -# TODO:
        .home-photo-bottom-area
          = form_for @tag do |f|
            = f.hidden_field :photo_id, value: @user.photos[0].id
            .home-photo-bottom-first-line
              .home-photo-tags-select
                = f.collection_select :user_id, @users, :id, :email
                = f.submit "Tag User"
              .home-photo-coment-icons
                .home-photo-comment-icon
                  = link_to image_tag("comment-icon.jpg"),
                    user_photo_comments_path(@user, @user.photos[0])
                .home-photo-delete-icon
                  = link_to user_photo_path(@user, @user.photos[0]), method: :delete do
                    = image_tag "bin.png", class: "enabled", title: 'Delete'
            .home-photo-tags-list
              - @user.photos[0].tags.each do |tag|
                = tag.user.email

-# Followees' Photos   
.home-photos-area
  .home-photos-area-title
    = "Followees Photos"
  .horizontal-line
  .home-followees-photos
    - @user.followees.each do |followee|
      .home-slideshow-area
        .home-followee-header
          = followee.email
        - if followee.photos.length == 0
          .home-no-photos
            Followee has no photos 
        - else
          .home-photo{:id => "followee_#{followee.id}", data: { images: followee.photos.order(created_at: :desc).map { |photo| { id: photo.id, src: photo.image.url(:medium), title: photo.title } }.to_json } }
            %img
          .home-photo-title
          -# TODO:
          .home-photo-bottom-area
            = form_for @tag do |f|
              = f.hidden_field :photo_id, value: followee.photos[0].id
              .home-photo-bottom-first-line
                .home-photo-tags-select
                  = f.collection_select :user_id, @users, :id, :email
                  = f.submit "Tag User"
                .home-photo-coment-icons
                  .home-photo-comment-icon
                    = link_to image_tag("comment-icon.jpg"),
                      user_photo_comments_path(@user, followee.photos[0])
                  .home-photo-delete-icon
                    = image_tag("bin.png", class: 'disabled')
              .home-photo-tags-list
                - followee.photos[0].tags.each do |tag|
                  = tag.user.email

-# Comments' Popup
.home-photo-comments-popup